<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form
      [formGroup]="cadastro"
      (ngSubmit)="salvar()"
      (ngReset)="reiniciarForm()"
    >
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            name="titulo"
            formControlName="titulo"
            placeholder="Título *"
          />
          <mat-error *ngIf="validarCampo(f.titulo, 'required')">
            Título é obrigatório
          </mat-error>
          <mat-error *ngIf="validarCampo(f.titulo, 'minlength')">
            Campo precisa possuir pelo menos 2 caracteres
          </mat-error>
          <mat-error *ngIf="validarCampo(f.titulo, 'maxlength')">
            Campo precisa possuir no máximo 256 caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            name="urlFoto"
            formControlName="urlFoto"
            placeholder="Link Foto"
          />
          <mat-error *ngIf="f.urlFoto.errors?.minlength">
            Campo precisa possuir pelo menos 10 caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            readonly
            matInput
            name="dtLancamento"
            formControlName="dtLancamento"
            [matDatepicker]="picker"
            placeholder="Data de Lançamento *"
            (click)="picker.open()"
          />
          <mat-error *ngIf="f.dtLancamento.errors?.required">
            A data é obrigatória
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea
            matInput
            name="descricao"
            formControlName="descricao"
            placeholder="Descrição"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            name="nota"
            formControlName="nota"
            placeholder="Nota IMDb *"
            type="number"
            min="0"
            max="10"
            step="0.1"
          />

          <mat-error *ngIf="validarCampo(f.nota, 'required')">
            Nota é obrigatória
          </mat-error>
          <mat-error *ngIf="validarCampo(f.nota, 'min')">
            A nota precisa ser maior ou igual a 0
          </mat-error>
          <mat-error *ngIf="validarCampo(f.nota, 'max')">
            A nota não pode ultrapassar o valor 10
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            name="urlIMDb"
            formControlName="urlIMDb"
            placeholder="Link IMDb"
          />
          <mat-error *ngIf="validarCampo(f.titulo, 'minlength')">
            Campo precisa possuir pelo menos 10 caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="Gênero" formControlName="genero">
            <mat-option value="Ação">Açao</mat-option>
            <mat-option value="Aventura">Aventura</mat-option>
            <mat-option value="Ficção Científica">Ficção Científica</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="Terror">Terror</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="validarCampo(f.titulo, 'required')">
          Gênero é obrigatório
        </mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" type="submit" mat-raised-button>Salvar</button>
        <button color="warn" type="reset" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
