<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form
      [formGroup]="cadastro"
      (ngSubmit)="salvar()"
      (ngReset)="reiniciarForm()"
    >
      <mat-card-content>
        <dio-input-text
          [label]="'Título *'"
          [controlName]="'titulo'"
          [formGroup]="cadastro"
        ></dio-input-text>

        <dio-input-text
          [label]="'Link Foto'"
          [controlName]="'urlFoto'"
          [formGroup]="cadastro"
        ></dio-input-text>

        <dio-input-date
          [controlName]="'dtLancamento'"
          [formGroup]="cadastro"
          [label]="'Data de Lançamento *'"
        >
        </dio-input-date>

        <dio-input-textarea
          [controlName]="'descricao'"
          [formGroup]="cadastro"
          [label]="'Descrição'"
        ></dio-input-textarea>

        <dio-input-number
          [label]="'Nota IMDb *'"
          [formGroup]="cadastro"
          [controlName]="'nota'"
          [minValue]="0"
          [maxValue]="10"
          [step]="0.1"
        >
        </dio-input-number>

        <dio-input-text
          [label]="'Link IMDb'"
          controlName="urlIMDb"
          [formGroup]="cadastro"
        ></dio-input-text>

        <dio-input-select
          [formGroup]="cadastro"
          [controlName]="'genero'"
          [label]="'Gênero'"
        >
        </dio-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" type="submit" mat-raised-button>Salvar</button>
        <button color="warn" type="reset" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
