<h1 mat-dialog-title>{{ alertaConfig.titulo }}</h1>
<div mat-dialog-content>
  <p>
    {{ alertaConfig.descricao }}
  </p>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    [color]="alertaConfig.btnSuccessColor"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ alertaConfig.btnSuccessText }}
  </button>
  <button
    *ngIf="alertaConfig.possuiBtnFechar"
    mat-raised-button
    [color]="alertaConfig.btnCancelColor"
    [mat-dialog-close]="false"
  >
    {{ alertaConfig.btnCancelText }}
  </button>
</div>
