<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>
<div class="home-content" infiniteScroll (scrolled)="onScroll()">
  <mat-card *ngFor="let filme of filmes" class="home-card">
    <mat-card-header>
      <mat-card-title>
        {{ filme.titulo }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ filme.genero }}
      </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="filme.urlFoto || imgDefault"
      [alt]="'Pôster de' + filme.titulo"
    />
    <mat-card-content>
      <p>
        {{ filme.descricao }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>Abrir</button>
    </mat-card-actions>
  </mat-card>
</div>
