.card-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.mat-list-item {
  height: auto;
  margin-bottom: 12px;
}

.mat-card-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}
