button + button {
  margin-left: 8px;
}

.card-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.action-container {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 8px 16px;
}

.mat-list-item {
  height: auto;
  margin-bottom: 12px;
}

.mat-card-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}
